.ergo-card-line, .ergo-card-line-fan {
    padding-top: 20px;
}

.ergo-card-container {
    width: 60px;
    display: inline-block;
    position: relative;
    padding: 2px;
}

.ergo-card {
    height: 80px;
    cursor: move;
    transition: transform ease 0.5s;
    border: 2px gray solid;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}